*.[oa]
*~
*.lo
*.la
*.pc
*.in
Makefile
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache/
build-aux/
config.h
config.log
config.status
configure
libtool
.deps
.libs
src/examples/bdsplice
src/examples/clpi_dump
src/examples/index_dump
src/examples/libbluray_test
src/examples/list_titles
src/examples/mobj_dump
src/examples/mpls_dump
src/examples/sound_dump
src/examples/bdj_test
src/examples/bd_info
src/examples/hdmv_test
src/examples/*.exe
src/libbluray/bdj/build
stamp-h1
