*.[oa]
*~
*.lo
*.la
*.pc
*.tar.*
Makefile.in
Makefile
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache/
build-aux/
build*
config.h.in
config.h
config.log
config.status
configure
libtool
.dirstamp
.deps
.libs
src/libbluray/bluray-version.h
bdsplice
clpi_dump
index_dump
libbluray_test
list_titles
mobj_dump
mpls_dump
sound_dump
bdj_test
bdjo_dump
bd_info
hdmv_test
*.exe
src/libbluray/bdj/build
stamp-h1
